body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Light Grey */
}

.header-content {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 2px solid #007bff; /* Blue border */
}

.websolvus-class {
  text-align: center;
  font-size: 20px;
  margin-left: 10px;
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
}

.logo {
    width: 120px;
    height: auto;
}


.site-container {
    position: relative;
}

.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff; /* Adjust the background color as needed */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a subtle effect */
    z-index: 1000; /* Ensure the header is on top of other elements */
}


.main-container {
    margin-top: 80px; /* Adjust this margin to accommodate the fixed header height */

    display: flex;
    width: 100%;
}

.video-container {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}

#videoPlayer {
    width: 100%;
    height: auto;
    outline: none;
    border-radius: 15px; /* Rounded corners */
 
}

.pdf-viewer-container {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.pdf-viewer {
    display: none; /* Initially hidden */
}

.video-description {
    text-align: left;
    margin-top: 20px;
    margin-left: 10px;
}

#videoTitle {
    color: #000000; /* Black */
    font-size: 30px;
    margin-bottom: 10px;
    text-align: left;
}

#videoDescription {
    color: #000000; /* Black */
    font-size: 16px;
    text-align: left;

}

.video-controls {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: #0044ff; /* Blue */
    color: #FFFFFF; /* White */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 15px;
}

button:hover {
    background-color: #cc0000; /* Darker Red */
}
.conditional-tag {
    background-color: #ffeeba;
    padding: 1px;
    text-align: center;
    color: #c28f00;
}
.copyright {
    margin-top: 1;
    text-align: center;
    padding: 1px;
    background-color: #0044ff; /* Blue */
    color: #FFFFFF; /* White */
}
#togglePdfBtn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}